$color-sec: lightgray;
.search-result{
    color:darken($color: $color-sec, $amount: 10%);
    list-style: none;
    font-weight: bold;
    border: 1px solid $color-sec;
    border-radius: 1em;
    width:100%;
    margin: 0.5em 0 0.5em 0;
    padding:0;

    div{
        color:$color-sec;
    }

    .search-title{
        color:darken($color: $color-sec, $amount: 20%);
        h4{
            font-weight: bold;
            color:darken($color: $color-sec, $amount: 35%);
        }
    }
}